.top-container{
    padding-top: 50px !important;
}

.img-responsive{
    margin: auto;
}

.meu-nome{
    font-size: 30px;
    font-weight: bold;
}

.bottom-footer{
    padding-top: 20px;
    border-top: 1px solid #000;
}
